* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
button:hover{
  cursor: pointer;
}
.container {
  position: relative;
  display: inline-block;
}
.bar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.health-bar {
  position: relative;
  width: 100%;
}
.health-bar.p1-health-bar{
  display : flex;
  justify-content: flex-end;
}
.health {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: yellow;
  width : 100%;
}
.health.p2-health{
  left: 0;
}
.health-bar .health-bar-bg {
  background-color: red;
  height: 30px;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.audio-control {
  display: none;
}
.container {
  position: relative;
  display: inline-block;
}
.sub-container {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.king-health {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 100px 0 0 100px ;
  overflow: hidden;
}
.king-health-bar {
  background-color: red;
  height: 30px;
  width: 100%;
}
.king-health-progress {
  position: absolute;
  background: yellow;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.timer {
  flex-shrink: 0;
  display: flex;
  padding : 1em;
  align-items: center;
  justify-content: center;
  color: white;
}
.wizard-health {
  position: relative;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-radius: 0 100px 100px 0;
  overflow: hidden;
}
.wizard-health-bar {
  background-color: red;
  height: 30px;
}
.wizard-health-progress {
  position: absolute;
  background: yellow;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.display-text {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.retry-btn-wrapper{
  position : absolute;
  top : 40%;
  height : 40%;
  left : 30%;
  width : 40%;
  display : flex;
  align-items: center;
  justify-self: center;
}
.retry-btn-wrapper .retry-btn{
  width : 100%;
  display : none;
  color : white;
  background-color : rgba(0, 0, 0, 0.4);
  padding : 1em 2em;
  border : none;
}
.retry-btn-wrapper .retry-btn:hover{
  color : black;
  background-color : rgba(255, 255, 255, 0.4);
}